.swiper-button-next,
.swiper-button-prev {
  backdrop-filter: blur(10px);
  background: rgba(114, 110, 110, 0.87);
  border-radius: 9999px;
  padding: 10px;
  color: #ffffff !important; /* azul */
  transition: all 0.2s ease-in-out;
}

.swiper {
  width: 100%;
  /* height: 300px; */
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  /* width: 100%;
  height: 100%;
  object-fit: cover; */
}
